name: Build Spring Boot JAR

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      - name: Build JAR (skip tests)
        run: mvn clean package -DskipTests=true -B

      - name: Upload JAR
        uses: actions/upload-artifact@v4
        with:
          name: springboot-app-jar
          path: target/*.jar
